<div>
    {{ form.tournament.label_tag }}<br>
    {{ form.tournament }}
</div>
<br>

<div>
    {{ form.team1.label_tag }}<br>
    {{ form.team1 }}
</div>
<br>

<div>
    {{ form.team2.label_tag }}<br>
    {{ form.team2 }}
</div>
<br>

<div>
    {{ form.score1.label_tag }}<br>
    {{ form.score1 }}
</div>
<br>

<div>
    {{ form.score2.label_tag }}<br>
    {{ form.score2 }}
</div>
<br>

<div>
    {{ form.match_date.label_tag }}<br>
    {{ form.match_date }}
</div>
<br>

<button type="submit">Створити матч</button>
